<div class="container center">
  <div class="card-panel">
  <p id="notice"><%= notice %></p>

  <h2>Flight</h2>
  <p>
    <strong>Plane:</strong>
    <%= full_plane_name(@flight.airplane) %>
  </p>

  <p>
    <strong>Flight num:</strong>
    <%= @flight.flight_num %>
  </p>

  <p>
    <strong>Origin:</strong>
    <%= @flight.origin %>
  </p>

  <p>
    <strong>Destination:</strong>
    <%= @flight.destination %>
  </p>

  <p>
    <strong>Departure date:</strong>
    <%= @flight.departure_date.strftime("%d %b %Y") %>
  </p>

  <%= link_to 'Edit', edit_flight_path(@flight), :class => "btn blue darken-4" %> |
  <%= link_to 'Back', flights_path, :class => "btn blue darken-4" %>
  </div>
</div>
