<div class="container center">

    <p id="notice"><%= notice %></p>

  <p>
    <strong>Plane</strong>
    <%= full_plane_name(@airplane) %>
  </p>
  <p>
    <strong>Total Seats:</strong>
    <%=num_seats(@airplane) %>
  </p>
  <p>
    <strong>Rows:</strong>
    <%= @airplane.row %>
  </p>

  <p>
    <strong>Columns:</strong>
    <%= @airplane.column %>
  </p>

  <%= link_to 'Edit', edit_airplane_path(@airplane), :class => "btn blue darken-4"  %> |
  <%= link_to 'Back', airplanes_path, :class => "btn blue darken-4"  %>
 </div>
<div>
