<div class="container center">
 <div class="card-panel">
    <p id="notice"><%= notice %></p>
  <h2>Plane</h2>
  <p>
    <strong>Plane:</strong>
    <%= full_plane_name(@airplane) %>
  </p>
  <p>
    <strong>Total Seats:</strong>
    <%=num_seats(@airplane) %>
  </p>
  <p>
    <strong>Rows:</strong>
    <%= @airplane.column %>
  </p>

  <p>
    <strong>Columns:</strong>
    <%= @airplane.row %>
  </p>

<%= link_to 'Edit', edit_airplane_path(@airplane), :class => "btn blue darken-4"  %> |
<%= link_to 'Destroy', @airplane, method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn blue darken-4"  %> |
  <%= link_to 'Back', airplanes_path, :class => "btn blue darken-4"  %>
 </div>
<div>
