
<div class="container center">
 <div class="card-panel">

<p id="notice"><%= notice %></p>

<h2>All Users</h2>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= full_name(user) %></td>
        <td><%= user.email %></td>
        <td><%= link_to 'View Profile', user, :class => "btn blue darken-4" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New User', new_user_path, :class => "btn blue darken-4" %>
 </div>
</div>
