<div class="container center">
 <div class="card-panel">

<p id="notice"><%= notice %></p>

<h2>All Reservations</h2>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Flight Number</th>
      <th>Plane</th>
      <th>Seat</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @reservations.each do |reservation| %>
      <tr>
        <td><%= full_name(reservation.user) %></td>
        <td><%= reservation.flight.flight_num %></td>
        <td><%= full_plane_name(reservation.flight.airplane) %></td>
        <td><%= seat_name(reservation) %></td>
        <td><%= link_to 'Show', reservation, :class => "btn blue darken-4"  %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Reservation', new_reservation_path, :class => "btn blue darken-4"  %>
 </div>
</div>
