<div class="container center">
 <div class="card-panel">

  <p id="notice"><%= notice %></p>
    <h2>Reservation</h2>
  <p>
    <strong>Name:</strong>
    <%= full_name(@reservation.user) %>
  </p>

  <p>
    <strong>Plane:</strong>
    <%= full_plane_name(@reservation.flight.airplane) %>
  </p>
  <p>
    <strong>Flight Number:</strong>
    <%= @reservation.flight.flight_num %>
  </p>

  <p>
    <strong>Seat:</strong>
    <%= seat_name(@reservation) %>
  </p>

  <%= link_to 'Edit', edit_reservation_path(@reservation), :class => "btn blue darken-4"  %>
  <%= link_to 'Destroy', @reservation, method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn blue darken-4"  %>
  <%= link_to 'Back', reservations_path, :class => "btn blue darken-4"  %>
 </div>
</div>
