<!-- Dropdown Structure -->
  <ul id="dropdown1" class="dropdown-content">
<% if @current_user.present? %>
    <li><%= link_to "My Profile", user_path(@current_user) %> </li>
    <li><%= link_to "My Reservations", user_reservations_path(@current_user) %> </li>
    <li class="divider"></li>
    <li><%= link_to "View Planes", airplanes_path %> </li>
    <li class="divider"></li>
    <li><%= link_to "Logout" , login_path, :method => :delete %></li>
<% end %>
  </ul>
<nav class="blue darken-4">
  <div class="nav-wrapper">
    <%=link_to "EMU AIR", root_path, class:"brand-logo"  %>
    <ul class="right hide-on-med-and-down">
      <% unless @current_user.present? %>
         <li><%= link_to "Login", login_path %> </li>
         <li><%= link_to "Sign Up", new_user_path %></li>
     <% else %>
        <li><%= link_to "Home", root_path %> </li>
        <li><%= link_to "All Users", users_path %></li>
         <li><%= link_to "All Planes", airplanes_path %> </li>
         <!-- Dropdown Trigger -->
         <li><a class="dropdown-button" href="#!" data-activates="dropdown1"><%= full_name(@current_user) %><i class="material-icons right">arrow_drop_down</i></a></li>
     <% end %>
    </ul>
  </div>
</nav>


